# Helix will respect this file even without git
build/
bin/
*.o
*.so
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.helix/
CMakeLists.txt.user
CLAUDE.md
build.sh
run-in-gdb.sh
